{% comment %}
<div class="sixteen columns">
  <div class="clearfix breadcrumb">
    <div class="right">
      {% if collection.previous_product %}
        <a href="{{ collection.previous_product }}"><span class="prev icon-arrow-left"></span></a>
      {% endif %}
      {% if collection.next_product %}
        <a href="{{ collection.next_product }}"><span class="next icon-arrow-right"></span></a>
      {% endif %}
    </div>
  </div>
</div>
{% endcomment %}
{% comment %}Check to see if sidebar should be enabled{% endcomment %}
{% if section.blocks.size > 0 %}
  {% assign sidebar = true %}
{% else %}
  {% assign sidebar = false %}
{% endif %}

{% if sidebar %}
  {% include 'sidebar' %}
  <div class="twelve columns">
    <div class="product-{{ product.id }}">
{% else %}
  <div class="sixteen columns">
    <div class="product-{{ product.id }}">
{% endif %}

  <div class="section product_section clearfix {% if product.images.size > 1 %}thumbnail_position--{{settings.thumbnail_position}} {% endif %} product_slideshow_animation--{{settings.product_slideshow_animation}}"
       data-thumbnail="{{settings.thumbnail_position}}"
       data-slideshow-animation="{{settings.product_slideshow_animation}}"
       data-slideshow-speed="{{settings.slideshow_speed}}"
       itemscope itemtype="http://schema.org/Product">

    <div class="{% if sidebar %}six{% else %}eight{% endif %} columns product-image--align-{{ section.settings.product_images_position }} {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
       {% include 'product-images' %}
       <div class="product-img-custom"></div> 
    </div>

    <div class="{% if sidebar %}six{% else %}eight{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}

      {% if collection and section.settings.product_breadcrumb %}
        <a class="product_collection" title="{{ collection.title | escape }}" href="{{ collection.url }}">
          {{ collection.title }}
        </a>
      {% endif %}

      <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

      {% if settings.enable_shopify_product_badges %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

       {% if section.settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
       {% endif %}

      {% if variant.sku != blank and section.settings.display_sku %}
        <p class="sku">
          <span itemprop="sku">{{ variant.sku }}</span>
        </p>
      {% endif %}

      {% unless collection_handles contains 'coming-soon' %}
        <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          <meta itemprop="seller" content="{{ shop.name | escape }}" />
          <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
          <meta itemprop="itemCondition" content="New" />

          <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
          <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price {% if product.available == false %}hidden{% endif %}">
              {% if variant.price > 0 %}
                <span class="money">{{ variant.price | money }}</span>
              {% else %}
                {{ settings.free_price_text }}
              {% endif %}
            </span>
          </span>
          <span class="was_price">
          {% if variant.price < variant.compare_at_price and variant.available %}
            <span class="money">{{ variant.compare_at_price | money }}</span>
          {% endif %}
          </span>
        </p>

        {% include 'product-notify-me' %}
      {% endunless %}
      
      <div class="ProductDetailsAccordion">
        
        <div class="accordion" id="section1">Description<span></span></div>
        <div class="container">
          <div class="content">
            {% if section.settings.product_description_position == "top" %}
              {% if product.description != blank %}
                <div class="description" itemprop="description">
                  {{ product.description | split: '<!-- split -->' | first }}
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      
      {% unless collection_handles contains 'coming-soon' %}
        {% if product.available %}
          {% if section.settings.show_payment_button %}
          {% assign show_payment_button = true %}
          {% elsif show_payment_button_quickshop %}
          {% assign show_payment_button = true %}
          {% else %}
          {% assign show_payment_button = false %}
          {% endif %}

          {% assign variant = product.selected_or_first_available_variant %}

          <div class="clearfix product_form init
                      {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
               id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
               data-money-format="{{ shop.money_format }}"
               data-shop-currency="{{ shop.currency }}"
               data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
               data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
               data-product="{{ product | json | escape }}"
               {% if settings.limit_quantity or settings.display_inventory_left %}
               data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
               {% endif %}
               data-product-id="{{ product.id }}">
            {% form 'product', product %}
           <div class="accordion" id="section2">Add Personalisation<span></span></div>		
            <div class="container">
              <div class="content">
                <div class="personalise"> 

                {% comment %}  <div class="switch-field line-item-property__size">
                    <div class="switch-title">TEXT SIZE</div>
                    <input type="radio" id="switch_left_3" name="properties[size]" value="SMALL" checked/>
                    <label for="switch_left_3">SMALL</label>
                    <input type="radio" id="switch_right_3" name="properties[size]" value="LARGE" />
                    <label for="switch_right_3">LARGE</label>
                  </div>
{% endcomment %}
                  <p class="line-item-property__letter">
                    <label for="letter">INITIALS</label>
                    <input required class="required initial_txtarea" type="text" name="properties[Initial1]" maxlength="1">
                  <input required class="required" type="text" name="properties[Initial2]" maxlength="1">
                  </p>

                 <div class="switch-field line-item-property__dots">
                    <div class="switch-title">DOTS</div>
                    <input type="radio" id="switch_left_1" name="properties[dots]" value="WITH" checked/>
                    <label for="switch_left_1">WITH</label>
                    <input type="radio" id="switch_right_1" name="properties[dots]" value="WITHOUT" />
                    <label for="switch_right_1">WITHOUT</label>
                  </div> 

                  {% include 'size-chart-popup' %}

                  {% if product.options.size > 1 %}
                  <div class="select">
                    <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
                      {% for v in product.variants %}
                      <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
                  <div class="select">
                    <label>{{ product.options[0] }}</label>
                    <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id">
                      {% for v in product.variants %}
                      <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% else %}
                  <input type="hidden" name="id" value="{{ variant.id }}" />
                  {% endif %}

                  {% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
                  <div class="swatch_options">
                    {% for option in product.options %}
                    {% include 'product-swatch' with option %}
                    {% endfor %}
                  </div>
                  {% endif %}

                  {% if settings.display_inventory_left %}
                  <div class="items_left">
                    {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
                    {% capture items_left_text %}
                    {% if variant.inventory_quantity == 1 %}
                    {{ 'products.product.items_left_count.one' | t }}
                    {% else %}
                    {{ 'products.product.items_left_count.other' | t }}
                    {% endif %}
                    {% endcapture %}

                    <p><em>{{ variant.inventory_quantity }} {{ items_left_text }}</em></p>
                    {% endif %}
                  </div>
                  {% endif %}

                </div>
              </div>
            </div>
            <div class="confirm_msg_btn">
              <div class="purchase-details smart-payment-button--{{ show_payment_button }}">
                {% if settings.display_product_quantity %}
                <div class="purchase-details__quantity">
                  <label for="quantity">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
                </div>
                {% endif %}
                <div class="purchase-details__buttons">
                  {% if settings.cart_action == 'reload_page' %}
                  <input type="hidden" name="return_to" value="back" />
                  {% elsif settings.cart_action == 'redirect_checkout' %}
                  <input type="hidden" name="return_to" value="/checkout" />
                  {% endif %}

                  {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
                  <button type="submit" name="add" class="action_button add_to_cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
                  {% if show_payment_button %}
                  {{ form | payment_button }}
                  {% endif %}
                </div>
              </div>
              <div class="continue_shopping">
                <a {% if product-form %}href="{% if collection.url != blank %}{{ collection.url }}{% else %}/collections/all{% endif %}"{% else %}href="javascript:void(0);" class="close"{% endif %}>{{ 'layout.general.continue_shopping' | t }}</a> {{ 'layout.general.or' | t }} {{ 'layout.general.view_cart_html' | t }}
              </div>
            </div>
            
            <div class="accordion" id="section3">Gift Message<span></span></div>
            <div class="container">
              <div class="content">
                <div class="gift_message_form">
                  <div class="displayinline" style="clear:both;">
                    <p class="line-item-property__field">
                      <input id="date" type="text" name="properties[date]" placeholder="Choose a Date" value="{{ cart.attributes.date }}" />
                    </p>
                    <p class="line-item-property__field">
                      <input id="recipient-name" type="text" placeholder="Recipient Name" name="properties[Recipient name]">
                    </p>
                  </div>
                  <p class="line-item-property__field">
                    <textarea maxlength="160" id="gift-message" placeholder="Gift Message" name="properties[Gift Message]"></textarea>
                  </p>
                </div>
              </div>
            </div>
            {% endform %}
          </div>
          {% endif %}
        {% endunless %}

      {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      {% endif %}

      {% if section.settings.product_description_position == "bottom" %}
        {% if product.available %}<hr />{% endif %}
        {% if product.description != blank %}
         <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
         </div>
        {% endif %}
      {% endif %}

      {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
       <hr />
      {% endif %}

       <div class="meta">
         {% if section.settings.display_collections %}
           <p>
             <span class="label">{{ 'products.product.collections' | t }}:</span>
             <span>
              {% for col in product.collections %}
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          </p>
         {% endif %}

         {% if section.settings.display_tags %}
            <p>
              {% for tag in product.tags %}
                {% if forloop.first %}
                  <span class="label">{{ 'products.product.tags' | t }}:</span>
                {% endif %}

                {% unless tag contains 'meta-' %}
                  <span>
                    <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                  </span>
                {% endunless %}
              {% endfor %}
            </p>
         {% endif %}

        {% if section.settings.display_type %}
           <p>
             <span class="label">{{ 'products.product.product_types' | t }}:</span> <span itemprop="category">{{ product.type | link_to_type }}</span>
           </p>
        {% endif %}

        {% if section.settings.display_vendor %}
           <p>
             <span class="label">{{ 'products.product.vendor' | t }}:</span> <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
           </p>
        {% endif %}
       </div>

    </div>

  </div>
</div>

{% if product.description contains "<!-- split -->"  %}
  <br class="clear" />
  <div class="section clearfix">
    <div class="description">
      {{ product.description | split: '<!-- split -->' | last }}
    </div>
  </div>
{% endif %}

{% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
  <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
{% endif %}

{% if section.settings.display_related_products %}
  {% capture limit %}{{ section.settings.products_per_row | plus: 1 }}{% endcapture %}

  {% if collection and collection.all_products_count > 1 %}
    {% assign col = collection.handle %}
  {% else %}
    {% assign col = product.collections.last.handle %}
  {% endif %}

  {% for tag in product.tags %}
    {% if tag contains 'meta-related-collection-' %}
      {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
      {% if collections[related_collection_handle].all_products_count > 0 %}
        {% assign col = related_collection_handle %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if col and collections[col].all_products_count > 0 %}
    {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
      <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
        <br class="clear" />
        <h2 class="title">{{ 'products.product.related_items' | t }}</h2>
        <div class="feature_divider"></div>
      </div>

      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = section.settings.products_per_row %}
      <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
        {% include 'product-loop', sidebar: sidebar %}
      </div>
    </div>
    {% endif %}
  {% endif %}
{% endif %}
</div>

{% schema %}

{
  "name": "Product",
  "class": "product-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show collection link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": false,
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Images position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Related products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ]
}

{% endschema %}
